# === UNITY ===
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

# Unity Asset Store tools
Assets/AssetStoreTools*

# Crash logs
sysinfo.txt

# User-specific files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# IDE-specific
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Build outputs
*.apk
*.aab
*.exe
